In [277]:
from google.colab import drive
drive.mount('gdrive')

Drive already mounted at gdrive; to attempt to forcibly remount, call drive.mount("gdrive", force_remount=True).

In [0]:
import tensorflow as tf

In [0]:
import pandas as pd

In [280]:
data = pd.read_csv('gdrive/My Drive/Colab Notebooks/AIML/R6/Projects/Project1/bank.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

Information of the data set says there is no any null value for any column, so we can proceed to check the  uniqueness value of each column.

In [281]:
tempDf = data.groupby(by='Exited', as_index=False).agg({'CustomerId': pd.Series.nunique})
tempDf[tempDf['CustomerId'] > 1]

   Exited  CustomerId
0       0        7963
1       1        2037

#### There is an imbalance in the data as per above count of the Exited column.

In [282]:
tempDf = data.groupby(by='Surname', as_index=False).agg({'CustomerId': pd.Series.nunique})
tempDf[tempDf['CustomerId'] > 1]

                  Surname  CustomerId
0                   Abazu           2
2                  Abbott           4
4                 Abdulov           2
6               Abernathy           2
8                Abramova           2
9              Abramovich           5
10             Abramowitz           2
13                 Achebe           3
14                  Adams          10
15                Adamson           2
16              Afamefula           2
17              Afamefuna           2
19             Afanasyeva           2
20              Agafonova           2
24                  Ahmed           4
28                 Aitken           8
29            Ajuluchukwu           5
30               Akabueze           8
32                 Akhtar           5
33               Akobundu           7
35                Aksenov           7
37               Aksyonov           2
38              Aksyonova           2
39               Akubundu           2
45           Aleksandrova           3
46              Alekseeva           4
47             Alekseyeva           3
49              Alexander          13
51            Alexandrova           3
52               Alexeeva           6
...                   ...         ...
2880                  Yen          14
2881             Yermakov           3
2882            Yermakova           4
2883           Yermolayev           2
2885          Yevdokimova           2
2886             Yevseyev           3
2888                  Yin          11
2891              Yobachi           5
2892           Yobachukwu           5
2893              Yobanna           7
2897                Young          20
2899                   Yu          10
2900                 Yuan          13
2901                Yudin           4
2902               Yudina           4
2904               Yuriev           3
2905              Yuryeva           4
2907             Yusupova           3
2910             Zakharov           4
2912             Zaytseva           3
2913             Zetticci          11
2914              Zhdanov           2
2915             Zhdanova           4
2916               Zhirov           3
2918     Zikoranachidimma           6
2919  Zikoranachukwudimma           2
2923                 Zito           6
2927              Zubarev           3
2930                Zuyev           2
2931               Zuyeva           2

[1374 rows x 2 columns]

In [283]:
tempDf = data.groupby(by='Geography', as_index=False).agg({'CustomerId': pd.Series.nunique})
tempDf[tempDf['CustomerId'] > 1]

  Geography  CustomerId
0    France        5014
1   Germany        2509
2     Spain        2477

Surname doesnt have unique values in its column.

In [284]:
tempDf = data.groupby(by='RowNumber', as_index=False).agg({'CustomerId': pd.Series.nunique}) 
tempDf[tempDf['CustomerId'] > 1]

Empty DataFrame
Columns: [RowNumber, CustomerId]
Index: []

Row number has unique values, so this can be dropped.

In [285]:
tempDf = data.groupby(by='EstimatedSalary', as_index=False).agg({'CustomerId': pd.Series.nunique}) 
tempDf[tempDf['CustomerId'] > 1]

      EstimatedSalary  CustomerId
1211         24924.92           2

EstimatedSalary has unique values for most of the rows, this column also can be dropped. Note that, I dropped and checked the accuracy of the model, the accuracy does not improve.

In [286]:
tempDf = data.groupby(by='Balance', as_index=False).agg({'CustomerId': pd.Series.nunique}) 
tempDf[tempDf['CustomerId'] > 1]

        Balance  CustomerId
0          0.00        3617
1995  105473.74           2
4115  130170.82           2

In [287]:
tempDf = data.groupby(by='CreditScore', as_index=False).agg({'CustomerId': pd.Series.nunique}) 
tempDf[tempDf['CustomerId'] > 1]

     CreditScore  CustomerId
0            350           5
8            376           2
16           405           2
18           408           2
19           410           3
20           411           4
22           413           3
23           414           2
24           415           3
25           416           4
27           418           6
29           420           3
30           421           3
31           422           4
34           425           4
35           426           2
36           427           6
37           428           3
38           429           4
39           430           9
40           431           5
41           432           5
42           433           3
43           434           6
44           435           5
45           436           2
46           437           6
47           438           6
48           439           7
52           443           8
..           ...         ...
430          821           8
431          822           5
432          823           7
433          824           7
434          825           8
435          826           7
436          827           5
437          828          10
438          829           8
439          830           2
440          831           6
441          832           6
442          833           9
443          834          11
444          835          12
445          836           5
446          837           8
447          838           8
448          839           3
449          840           5
450          841          12
451          842           7
452          843           2
453          844           7
454          845           6
455          846           5
456          847           6
457          848           5
458          849           8
459          850         233

[437 rows x 2 columns]

In [0]:
df = data

### Drop the columns which are unique for all users like IDs (2.5 points)

In [0]:
data.drop(['CustomerId', 'RowNumber', 'Surname'], axis=1, inplace = True) # dropping EstimatedSalary also gives same accurancy so this is not deleted.
#data.drop(['CustomerId', 'RowNumber'], axis=1, inplace = True)

In [290]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [0]:
data = pd.get_dummies(data)  # Using Categorical codes also gives same accuracy score.

#data['Surname'] = pd.Categorical(data['Surname']).codes

In [0]:
#data['Geography'] = pd.Categorical(data['Geography']).codes
#data['Gender'] = pd.Categorical(data['Gender']).codes

In [293]:
data.head()

   CreditScore  Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0          619   42       2  ...                0              1            0
1          608   41       1  ...                1              1            0
2          502   42       8  ...                0              1            0
3          699   39       1  ...                0              1            0
4          850   43       2  ...                1              1            0

[5 rows x 14 columns]

In [0]:
X = data.drop('Exited', axis=1)
Y = data[['Exited']]

### Normalize the train and test data (2.5 points)

In [295]:

from sklearn.model_selection import train_test_split
X_train,  X_test, y_train, y_test = train_test_split(X, Y, test_size=.3, stratify=Y, random_state=98789)
print("X_Train : {}, X_test : {}, y_train : {}, y_test : {}".format(X_train.shape,  X_test.shape, y_train.shape, y_test.shape))

X_Train : (7000, 13), X_test : (3000, 13), y_train : (7000, 1), y_test : (3000, 1)

In [0]:

from sklearn.preprocessing import StandardScaler


sc = StandardScaler()

X_train_std = sc.fit_transform(X_train)
X_test_std = sc.fit_transform(X_test)

Since there is imbalance in the data, trying to smote it

In [297]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=3424)
X_train_res, y_train_res = sm.fit_sample(X_train, y_train)

print("X_Train : {}, y_train : {}".format(X_train_res.shape,  y_train_res.shape))

X_Train : (11148, 13), y_train : (11148,)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### Initialize &amp; build the model (10 points)

In [0]:

from tensorflow import keras 
from keras.models import Sequential
from keras.layers import Dense,Dropout
from keras.optimizers import SGD

In [299]:
n_inputs = 13
model = keras.Sequential([
    keras.layers.Dense(10, activation=tf.nn.relu, input_shape=(n_inputs,)),
    keras.layers.Dense(8, activation=tf.nn.relu),
    keras.layers.Dense(5, activation=tf.nn.relu),
    keras.layers.Dense(1, activation=tf.nn.sigmoid)
])


model.summary() 
# compile the model 
model.compile( loss ='binary_crossentropy', optimizer = 'sgd', metrics =['accuracy']) 

# train the model 
model.fit( X_train_res, y_train_res, batch_size = 90, epochs = 15)

Model: "sequential_60"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_214 (Dense)            (None, 10)                140
_________________________________________________________________
dense_215 (Dense)            (None, 8)                 88
_________________________________________________________________
dense_216 (Dense)            (None, 5)                 45
_________________________________________________________________
dense_217 (Dense)            (None, 1)                 6
=================================================================
Total params: 279
Trainable params: 279
Non-trainable params: 0
_________________________________________________________________
Epoch 1/15
11148/11148 [==============================] - 1s 51us/sample - loss: 471206.9948 - acc: 0.4935
Epoch 2/15
11148/11148 [==============================] - 0s 19us/sample - loss: 0.6932 - acc: 0.5000
Epoch 3/15
11148/11148 [==============================] - 0s 21us/sample - loss: 0.6932 - acc: 0.4993
Epoch 4/15
11148/11148 [==============================] - 0s 19us/sample - loss: 0.6932 - acc: 0.4955
Epoch 5/15
11148/11148 [==============================] - 0s 18us/sample - loss: 0.6932 - acc: 0.4928
Epoch 6/15
11148/11148 [==============================] - 0s 18us/sample - loss: 0.6932 - acc: 0.4935
Epoch 7/15
11148/11148 [==============================] - 0s 18us/sample - loss: 0.6932 - acc: 0.4991
Epoch 8/15
11148/11148 [==============================] - 0s 19us/sample - loss: 0.6932 - acc: 0.4986
Epoch 9/15
11148/11148 [==============================] - 0s 19us/sample - loss: 0.6932 - acc: 0.4986
Epoch 10/15
11148/11148 [==============================] - 0s 19us/sample - loss: 0.6932 - acc: 0.5000
Epoch 11/15
11148/11148 [==============================] - 0s 20us/sample - loss: 0.6932 - acc: 0.4948
Epoch 12/15
11148/11148 [==============================] - 0s 18us/sample - loss: 0.6932 - acc: 0.4953
Epoch 13/15
11148/11148 [==============================] - 0s 19us/sample - loss: 0.6932 - acc: 0.4932
Epoch 14/15
11148/11148 [==============================] - 0s 18us/sample - loss: 0.6932 - acc: 0.4885
Epoch 15/15
11148/11148 [==============================] - 0s 19us/sample - loss: 0.6932 - acc: 0.4968

Smoting does not help the accuracy.

### Optimize the model (5 points)

In [300]:
n_inputs = 13
model = keras.Sequential([
    keras.layers.Dense(10, activation=tf.nn.relu, input_shape=(n_inputs,)),
    keras.layers.Dense(8, activation=tf.nn.relu, input_shape=(10,)),
    keras.layers.Dense(5, activation=tf.nn.relu),
    keras.layers.Dense(1, activation=tf.nn.sigmoid)
])
from keras.optimizers import SGD 


sgd = keras.optimizers.SGD(lr=.002)
model.compile(optimizer=sgd,loss='binary_crossentropy', metrics=['accuracy'])


model.fit(X_train_std,y_train,batch_size=10,epochs=100)

Epoch 1/100
7000/7000 [==============================] - 1s 208us/sample - loss: 0.5739 - acc: 0.7663
Epoch 2/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.5162 - acc: 0.7961
Epoch 3/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.4986 - acc: 0.7963
Epoch 4/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.4858 - acc: 0.7963
Epoch 5/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.4747 - acc: 0.7963
Epoch 6/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.4657 - acc: 0.7963
Epoch 7/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.4582 - acc: 0.7966
Epoch 8/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.4519 - acc: 0.7966
Epoch 9/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.4464 - acc: 0.7997
Epoch 10/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.4417 - acc: 0.8021
Epoch 11/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.4375 - acc: 0.8076
Epoch 12/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.4344 - acc: 0.8117
Epoch 13/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.4316 - acc: 0.8136
Epoch 14/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.4291 - acc: 0.8149
Epoch 15/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.4269 - acc: 0.8166
Epoch 16/100
7000/7000 [==============================] - 1s 160us/sample - loss: 0.4250 - acc: 0.8186
Epoch 17/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.4233 - acc: 0.8199
Epoch 18/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.4218 - acc: 0.8214
Epoch 19/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.4204 - acc: 0.8214
Epoch 20/100
7000/7000 [==============================] - 1s 167us/sample - loss: 0.4190 - acc: 0.8200
Epoch 21/100
7000/7000 [==============================] - 1s 160us/sample - loss: 0.4177 - acc: 0.8213
Epoch 22/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.4166 - acc: 0.8204
Epoch 23/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.4153 - acc: 0.8220
Epoch 24/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.4141 - acc: 0.8229
Epoch 25/100
7000/7000 [==============================] - 1s 160us/sample - loss: 0.4131 - acc: 0.8233
Epoch 26/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.4121 - acc: 0.8233
Epoch 27/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.4109 - acc: 0.8254
Epoch 28/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.4100 - acc: 0.8260
Epoch 29/100
7000/7000 [==============================] - 1s 166us/sample - loss: 0.4090 - acc: 0.8264
Epoch 30/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.4080 - acc: 0.8270
Epoch 31/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.4070 - acc: 0.8280
Epoch 32/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.4061 - acc: 0.8290
Epoch 33/100
7000/7000 [==============================] - 1s 165us/sample - loss: 0.4051 - acc: 0.8297
Epoch 34/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.4042 - acc: 0.8291
Epoch 35/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.4034 - acc: 0.8304
Epoch 36/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.4025 - acc: 0.8297
Epoch 37/100
7000/7000 [==============================] - 1s 160us/sample - loss: 0.4016 - acc: 0.8296
Epoch 38/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.4006 - acc: 0.8304
Epoch 39/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.3992 - acc: 0.8316
Epoch 40/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.3987 - acc: 0.8307
Epoch 41/100
7000/7000 [==============================] - 1s 165us/sample - loss: 0.3976 - acc: 0.8313
Epoch 42/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.3966 - acc: 0.8317
Epoch 43/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.3954 - acc: 0.8329
Epoch 44/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3943 - acc: 0.8317
Epoch 45/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3932 - acc: 0.8346
Epoch 46/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3919 - acc: 0.8340
Epoch 47/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3906 - acc: 0.8344
Epoch 48/100
7000/7000 [==============================] - 1s 171us/sample - loss: 0.3896 - acc: 0.8331
Epoch 49/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3883 - acc: 0.8331
Epoch 50/100
7000/7000 [==============================] - 1s 165us/sample - loss: 0.3871 - acc: 0.8331
Epoch 51/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3859 - acc: 0.8339
Epoch 52/100
7000/7000 [==============================] - 1s 165us/sample - loss: 0.3845 - acc: 0.8340
Epoch 53/100
7000/7000 [==============================] - 1s 167us/sample - loss: 0.3833 - acc: 0.8331
Epoch 54/100
7000/7000 [==============================] - 1s 175us/sample - loss: 0.3821 - acc: 0.8334
Epoch 55/100
7000/7000 [==============================] - 1s 169us/sample - loss: 0.3807 - acc: 0.8340
Epoch 56/100
7000/7000 [==============================] - 1s 173us/sample - loss: 0.3794 - acc: 0.8349
Epoch 57/100
7000/7000 [==============================] - 1s 171us/sample - loss: 0.3783 - acc: 0.8354
Epoch 58/100
7000/7000 [==============================] - 1s 173us/sample - loss: 0.3770 - acc: 0.8346
Epoch 59/100
7000/7000 [==============================] - 1s 172us/sample - loss: 0.3759 - acc: 0.8347
Epoch 60/100
7000/7000 [==============================] - 1s 170us/sample - loss: 0.3746 - acc: 0.8346
Epoch 61/100
7000/7000 [==============================] - 1s 170us/sample - loss: 0.3737 - acc: 0.8357
Epoch 62/100
7000/7000 [==============================] - 1s 169us/sample - loss: 0.3724 - acc: 0.8366
Epoch 63/100
7000/7000 [==============================] - 1s 172us/sample - loss: 0.3711 - acc: 0.8347
Epoch 64/100
7000/7000 [==============================] - 1s 166us/sample - loss: 0.3700 - acc: 0.8373
Epoch 65/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3686 - acc: 0.8377
Epoch 66/100
7000/7000 [==============================] - 1s 170us/sample - loss: 0.3675 - acc: 0.8393
Epoch 67/100
7000/7000 [==============================] - 1s 166us/sample - loss: 0.3663 - acc: 0.8390
Epoch 68/100
7000/7000 [==============================] - 1s 167us/sample - loss: 0.3651 - acc: 0.8406
Epoch 69/100
7000/7000 [==============================] - 1s 166us/sample - loss: 0.3643 - acc: 0.8427
Epoch 70/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3627 - acc: 0.8484
Epoch 71/100
7000/7000 [==============================] - 1s 166us/sample - loss: 0.3622 - acc: 0.8514
Epoch 72/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3614 - acc: 0.8524
Epoch 73/100
7000/7000 [==============================] - 1s 166us/sample - loss: 0.3603 - acc: 0.8521
Epoch 74/100
7000/7000 [==============================] - 1s 168us/sample - loss: 0.3592 - acc: 0.8537
Epoch 75/100
7000/7000 [==============================] - 1s 166us/sample - loss: 0.3586 - acc: 0.8547
Epoch 76/100
7000/7000 [==============================] - 1s 165us/sample - loss: 0.3579 - acc: 0.8566
Epoch 77/100
7000/7000 [==============================] - 1s 168us/sample - loss: 0.3574 - acc: 0.8567
Epoch 78/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3561 - acc: 0.8570
Epoch 79/100
7000/7000 [==============================] - 1s 166us/sample - loss: 0.3556 - acc: 0.8564
Epoch 80/100
7000/7000 [==============================] - 1s 166us/sample - loss: 0.3551 - acc: 0.8576
Epoch 81/100
7000/7000 [==============================] - 1s 169us/sample - loss: 0.3543 - acc: 0.8570
Epoch 82/100
7000/7000 [==============================] - 1s 169us/sample - loss: 0.3539 - acc: 0.8561
Epoch 83/100
7000/7000 [==============================] - 1s 170us/sample - loss: 0.3535 - acc: 0.8576
Epoch 84/100
7000/7000 [==============================] - 1s 167us/sample - loss: 0.3530 - acc: 0.8589
Epoch 85/100
7000/7000 [==============================] - 1s 170us/sample - loss: 0.3525 - acc: 0.8583
Epoch 86/100
7000/7000 [==============================] - 1s 165us/sample - loss: 0.3518 - acc: 0.8580
Epoch 87/100
7000/7000 [==============================] - 1s 165us/sample - loss: 0.3511 - acc: 0.8597
Epoch 88/100
7000/7000 [==============================] - 1s 170us/sample - loss: 0.3509 - acc: 0.8589
Epoch 89/100
7000/7000 [==============================] - 1s 167us/sample - loss: 0.3504 - acc: 0.8594
Epoch 90/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3501 - acc: 0.8587
Epoch 91/100
7000/7000 [==============================] - 1s 165us/sample - loss: 0.3493 - acc: 0.8581
Epoch 92/100
7000/7000 [==============================] - 1s 165us/sample - loss: 0.3490 - acc: 0.8599
Epoch 93/100
7000/7000 [==============================] - 1s 170us/sample - loss: 0.3485 - acc: 0.8603
Epoch 94/100
7000/7000 [==============================] - 1s 166us/sample - loss: 0.3480 - acc: 0.8609
Epoch 95/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3477 - acc: 0.8607
Epoch 96/100
7000/7000 [==============================] - 1s 179us/sample - loss: 0.3476 - acc: 0.8611
Epoch 97/100
7000/7000 [==============================] - 1s 174us/sample - loss: 0.3466 - acc: 0.8613
Epoch 98/100
7000/7000 [==============================] - 1s 178us/sample - loss: 0.3467 - acc: 0.8606
Epoch 99/100
7000/7000 [==============================] - 1s 175us/sample - loss: 0.3464 - acc: 0.8593
Epoch 100/100
7000/7000 [==============================] - 1s 172us/sample - loss: 0.3461 - acc: 0.8610

In [301]:
scores = model.evaluate( X_test_std, y_test)

print('\ n loss:', scores[ 0]) 

print('\ n accuracy:', scores[ 1])

3000/3000 [==============================] - 0s 147us/sample - loss: 0.3613 - acc: 0.8583
\ n loss: 0.36131864960988364
\ n accuracy: 0.85833335

Updating the model to improve the accuracy.

### Predict the results using 0.5 as a threshold (5 points)

In [0]:
#y_pred = model.predict_proba(X_test)
y_pred=model.predict(X_test_std)
y_pred =(y_pred>0.5) #threshold is 0.5
#y_pred = (model.predict_proba(X_test_std)[:,0] >= 0.5)#  threshold is 0.5

### Print the Accuracy score and confusion matrix (2.5 points)

In [303]:
scores = model.evaluate( X_train_std, y_train)

print('\ n loss:', scores[ 0]) 

print('\ n accuracy:', scores[ 1])

7000/7000 [==============================] - 0s 42us/sample - loss: 0.3444 - acc: 0.8623
\ n loss: 0.34442153811454773
\ n accuracy: 0.86228573

In [304]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

cm = confusion_matrix(y_test,y_pred)
print(cm)
print(classification_report(y_test,y_pred))

[[2294   95]
 [ 330  281]]
              precision    recall  f1-score   support

           0       0.87      0.96      0.92      2389
           1       0.75      0.46      0.57       611

    accuracy                           0.86      3000
   macro avg       0.81      0.71      0.74      3000
weighted avg       0.85      0.86      0.84      3000

In [305]:
print ("TP = {}".format(cm[1,1]))
print ("TN = {}".format(cm[0,0]))
print ("FP = {}".format(cm[0,1]))
print ("FN = {}".format(cm[1,0]))

TP = 281
TN = 330
FP = 95
FN = 2294

Above classifier helps to determine whether customer will leave or not using Neural networks, using smote due to presence of imbalance in the data, which did not provide much accuracy.

Stratify attribute is used to manage the imbalance distribution in spliting the data.

Adding learning rate and the epoch to 100, helps to increase the accuracy score.

Learning rate plays a important role, and epoch to learn from mistake helps a lot.

Imbalance in data reflects in the F1 score class also.

Above matrix says high False Negative, which is costly to leave the essential customer.