In [260]:
from google.colab import drive
drive.mount('gdrive')

Drive already mounted at gdrive; to attempt to forcibly remount, call drive.mount("gdrive", force_remount=True).

In [0]:
import tensorflow as tf

In [0]:
import pandas as pd

In [263]:
data = pd.read_csv('gdrive/My Drive/Colab Notebooks/AIML/R6/Projects/Project1/bank.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

Information of the data set says there is no any null value for any column, so we can proceed to check the  uniqueness value of each column.

In [265]:
tempDf = data.groupby(by='Exited', as_index=False).agg({'CustomerId': pd.Series.nunique})
tempDf[tempDf['CustomerId'] > 1]

   Exited  CustomerId
0       0        7963
1       1        2037

#### There is an imbalance in the data as per above count of the Exited column.

In [187]:
tempDf = data.groupby(by='Surname', as_index=False).agg({'CustomerId': pd.Series.nunique})
tempDf[tempDf['CustomerId'] > 1]

                  Surname  CustomerId
0                   Abazu           2
2                  Abbott           4
4                 Abdulov           2
6               Abernathy           2
8                Abramova           2
9              Abramovich           5
10             Abramowitz           2
13                 Achebe           3
14                  Adams          10
15                Adamson           2
16              Afamefula           2
17              Afamefuna           2
19             Afanasyeva           2
20              Agafonova           2
24                  Ahmed           4
28                 Aitken           8
29            Ajuluchukwu           5
30               Akabueze           8
32                 Akhtar           5
33               Akobundu           7
35                Aksenov           7
37               Aksyonov           2
38              Aksyonova           2
39               Akubundu           2
45           Aleksandrova           3
46              Alekseeva           4
47             Alekseyeva           3
49              Alexander          13
51            Alexandrova           3
52               Alexeeva           6
...                   ...         ...
2880                  Yen          14
2881             Yermakov           3
2882            Yermakova           4
2883           Yermolayev           2
2885          Yevdokimova           2
2886             Yevseyev           3
2888                  Yin          11
2891              Yobachi           5
2892           Yobachukwu           5
2893              Yobanna           7
2897                Young          20
2899                   Yu          10
2900                 Yuan          13
2901                Yudin           4
2902               Yudina           4
2904               Yuriev           3
2905              Yuryeva           4
2907             Yusupova           3
2910             Zakharov           4
2912             Zaytseva           3
2913             Zetticci          11
2914              Zhdanov           2
2915             Zhdanova           4
2916               Zhirov           3
2918     Zikoranachidimma           6
2919  Zikoranachukwudimma           2
2923                 Zito           6
2927              Zubarev           3
2930                Zuyev           2
2931               Zuyeva           2

[1374 rows x 2 columns]

In [188]:
tempDf = data.groupby(by='Geography', as_index=False).agg({'CustomerId': pd.Series.nunique})
tempDf[tempDf['CustomerId'] > 1]

  Geography  CustomerId
0    France        5014
1   Germany        2509
2     Spain        2477

Surname doesnt have unique values in its column.

In [189]:
tempDf = data.groupby(by='RowNumber', as_index=False).agg({'CustomerId': pd.Series.nunique}) 
tempDf[tempDf['CustomerId'] > 1]

Empty DataFrame
Columns: [RowNumber, CustomerId]
Index: []

Row number has unique values, so this can be dropped.

In [190]:
tempDf = data.groupby(by='EstimatedSalary', as_index=False).agg({'CustomerId': pd.Series.nunique}) 
tempDf[tempDf['CustomerId'] > 1]

      EstimatedSalary  CustomerId
1211         24924.92           2

EstimatedSalary has unique values for most of the rows, this column also can be dropped. Note that, I dropped and checked the accuracy of the model, the accuracy does not improve.

In [191]:
tempDf = data.groupby(by='Balance', as_index=False).agg({'CustomerId': pd.Series.nunique}) 
tempDf[tempDf['CustomerId'] > 1]

        Balance  CustomerId
0          0.00        3617
1995  105473.74           2
4115  130170.82           2

In [192]:
tempDf = data.groupby(by='CreditScore', as_index=False).agg({'CustomerId': pd.Series.nunique}) 
tempDf[tempDf['CustomerId'] > 1]

     CreditScore  CustomerId
0            350           5
8            376           2
16           405           2
18           408           2
19           410           3
20           411           4
22           413           3
23           414           2
24           415           3
25           416           4
27           418           6
29           420           3
30           421           3
31           422           4
34           425           4
35           426           2
36           427           6
37           428           3
38           429           4
39           430           9
40           431           5
41           432           5
42           433           3
43           434           6
44           435           5
45           436           2
46           437           6
47           438           6
48           439           7
52           443           8
..           ...         ...
430          821           8
431          822           5
432          823           7
433          824           7
434          825           8
435          826           7
436          827           5
437          828          10
438          829           8
439          830           2
440          831           6
441          832           6
442          833           9
443          834          11
444          835          12
445          836           5
446          837           8
447          838           8
448          839           3
449          840           5
450          841          12
451          842           7
452          843           2
453          844           7
454          845           6
455          846           5
456          847           6
457          848           5
458          849           8
459          850         233

[437 rows x 2 columns]

In [0]:
df = data

### Drop the columns which are unique for all users like IDs (2.5 points)

In [0]:
data.drop(['CustomerId', 'RowNumber', 'Surname'], axis=1, inplace = True) # dropping EstimatedSalary also gives same accurancy so this is not deleted.
#data.drop(['CustomerId', 'RowNumber'], axis=1, inplace = True)

In [195]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [0]:
data = pd.get_dummies(data)  # Using Categorical codes also gives same accuracy score.

#data['Surname'] = pd.Categorical(data['Surname']).codes

In [0]:
#data['Geography'] = pd.Categorical(data['Geography']).codes
#data['Gender'] = pd.Categorical(data['Gender']).codes

In [198]:
data.head()

   CreditScore  Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0          619   42       2  ...                0              1            0
1          608   41       1  ...                1              1            0
2          502   42       8  ...                0              1            0
3          699   39       1  ...                0              1            0
4          850   43       2  ...                1              1            0

[5 rows x 14 columns]

In [0]:
X = data.drop('Exited', axis=1)
Y = data[['Exited']]

### Normalize the train and test data (2.5 points)

In [201]:

from sklearn.model_selection import train_test_split
X_train,  X_test, y_train, y_test = train_test_split(X, Y, test_size=.3, stratify=Y, random_state=98789)
print("X_Train : {}, X_test : {}, y_train : {}, y_test : {}".format(X_train.shape,  X_test.shape, y_train.shape, y_test.shape))

X_Train : (7000, 13), X_test : (3000, 13), y_train : (7000, 1), y_test : (3000, 1)

In [0]:

from sklearn.preprocessing import StandardScaler


sc = StandardScaler()

X_train_std = sc.fit_transform(X_train)
X_test_std = sc.fit_transform(X_test)

Since there is imbalance in the data, trying to smote it

In [204]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=3424)
X_train_res, y_train_res = sm.fit_sample(X_train, y_train)

print("X_Train : {}, y_train : {}".format(X_train_res.shape,  y_train_res.shape))

X_Train : (11148, 13), y_train : (11148,)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### Initialize &amp; build the model (10 points)

In [0]:

from tensorflow import keras 
from keras.models import Sequential
from keras.layers import Dense,Dropout
from keras.optimizers import SGD

In [257]:
n_inputs = 13
model = keras.Sequential([
    keras.layers.Dense(10, activation=tf.nn.relu, input_shape=(n_inputs,)),
    keras.layers.Dense(8, activation=tf.nn.relu),
    keras.layers.Dense(5, activation=tf.nn.relu),
    keras.layers.Dense(1, activation=tf.nn.sigmoid)
])


model.summary() 
# compile the model 
model.compile( loss ='binary_crossentropy', optimizer = 'sgd', metrics =['accuracy']) 

# train the model 
model.fit( X_train_res, y_train_res, batch_size = 90, epochs = 15)

Model: "sequential_58"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_206 (Dense)            (None, 10)                140
_________________________________________________________________
dense_207 (Dense)            (None, 8)                 88
_________________________________________________________________
dense_208 (Dense)            (None, 5)                 45
_________________________________________________________________
dense_209 (Dense)            (None, 1)                 6
=================================================================
Total params: 279
Trainable params: 279
Non-trainable params: 0
_________________________________________________________________
Epoch 1/15
11148/11148 [==============================] - 1s 48us/sample - loss: 6420970.8988 - acc: 0.4994
Epoch 2/15
11148/11148 [==============================] - 0s 18us/sample - loss: 0.6935 - acc: 0.5000
Epoch 3/15
11148/11148 [==============================] - 0s 21us/sample - loss: 0.6932 - acc: 0.5000
Epoch 4/15
11148/11148 [==============================] - 0s 20us/sample - loss: 0.6931 - acc: 0.4975
Epoch 5/15
11148/11148 [==============================] - 0s 20us/sample - loss: 0.6930 - acc: 0.4943
Epoch 6/15
11148/11148 [==============================] - 0s 19us/sample - loss: 0.6930 - acc: 0.4989
Epoch 7/15
11148/11148 [==============================] - 0s 20us/sample - loss: 0.6929 - acc: 0.4960
Epoch 8/15
11148/11148 [==============================] - 0s 18us/sample - loss: 0.6930 - acc: 0.4925
Epoch 9/15
11148/11148 [==============================] - 0s 19us/sample - loss: 0.6930 - acc: 0.4963
Epoch 10/15
11148/11148 [==============================] - 0s 18us/sample - loss: 0.6930 - acc: 0.4995
Epoch 11/15
11148/11148 [==============================] - 0s 19us/sample - loss: 0.6930 - acc: 0.4915
Epoch 12/15
11148/11148 [==============================] - 0s 19us/sample - loss: 0.6929 - acc: 0.4953
Epoch 13/15
11148/11148 [==============================] - 0s 22us/sample - loss: 0.6929 - acc: 0.4970
Epoch 14/15
11148/11148 [==============================] - 0s 18us/sample - loss: 0.6929 - acc: 0.5013
Epoch 15/15
11148/11148 [==============================] - 0s 20us/sample - loss: 0.6929 - acc: 0.5010

Smoting does not help the accuracy.

### Optimize the model (5 points)

In [248]:
n_inputs = 13
model = keras.Sequential([
    keras.layers.Dense(10, activation=tf.nn.relu, input_shape=(n_inputs,)),
    keras.layers.Dense(8, activation=tf.nn.relu, input_shape=(10,)),
    keras.layers.Dense(5, activation=tf.nn.relu),
    keras.layers.Dense(1, activation=tf.nn.sigmoid)
])
from keras.optimizers import SGD 


sgd = keras.optimizers.SGD(lr=.002)
model.compile(optimizer=sgd,loss='binary_crossentropy', metrics=['accuracy'])


model.fit(X_train_std,y_train,batch_size=10,epochs=100)

Epoch 1/100
7000/7000 [==============================] - 1s 207us/sample - loss: 0.6089 - acc: 0.7264
Epoch 2/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.5184 - acc: 0.7964
Epoch 3/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.4975 - acc: 0.7966
Epoch 4/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.4869 - acc: 0.7963
Epoch 5/100
7000/7000 [==============================] - 1s 157us/sample - loss: 0.4792 - acc: 0.7961
Epoch 6/100
7000/7000 [==============================] - 1s 156us/sample - loss: 0.4730 - acc: 0.7964
Epoch 7/100
7000/7000 [==============================] - 1s 157us/sample - loss: 0.4678 - acc: 0.7969
Epoch 8/100
7000/7000 [==============================] - 1s 160us/sample - loss: 0.4633 - acc: 0.7974
Epoch 9/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.4596 - acc: 0.7976
Epoch 10/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.4562 - acc: 0.7984
Epoch 11/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.4532 - acc: 0.7991
Epoch 12/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.4505 - acc: 0.8003
Epoch 13/100
7000/7000 [==============================] - 1s 157us/sample - loss: 0.4478 - acc: 0.8006
Epoch 14/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.4456 - acc: 0.8004
Epoch 15/100
7000/7000 [==============================] - 1s 157us/sample - loss: 0.4434 - acc: 0.8007
Epoch 16/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.4412 - acc: 0.8011
Epoch 17/100
7000/7000 [==============================] - 1s 156us/sample - loss: 0.4391 - acc: 0.8016
Epoch 18/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.4370 - acc: 0.8016
Epoch 19/100
7000/7000 [==============================] - 1s 157us/sample - loss: 0.4349 - acc: 0.8014
Epoch 20/100
7000/7000 [==============================] - 1s 157us/sample - loss: 0.4327 - acc: 0.8010
Epoch 21/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.4305 - acc: 0.8019
Epoch 22/100
7000/7000 [==============================] - 1s 160us/sample - loss: 0.4283 - acc: 0.8037
Epoch 23/100
7000/7000 [==============================] - 1s 157us/sample - loss: 0.4257 - acc: 0.8054
Epoch 24/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.4231 - acc: 0.8064
Epoch 25/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.4204 - acc: 0.8086
Epoch 26/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.4176 - acc: 0.8140
Epoch 27/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.4149 - acc: 0.8160
Epoch 28/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.4120 - acc: 0.8190
Epoch 29/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.4093 - acc: 0.8201
Epoch 30/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.4065 - acc: 0.8237
Epoch 31/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.4038 - acc: 0.8264
Epoch 32/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.4010 - acc: 0.8293
Epoch 33/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3982 - acc: 0.8283
Epoch 34/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3952 - acc: 0.8313
Epoch 35/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3924 - acc: 0.8314
Epoch 36/100
7000/7000 [==============================] - 1s 160us/sample - loss: 0.3894 - acc: 0.8331
Epoch 37/100
7000/7000 [==============================] - 1s 160us/sample - loss: 0.3867 - acc: 0.8361
Epoch 38/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3840 - acc: 0.8371
Epoch 39/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.3813 - acc: 0.8394
Epoch 40/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3784 - acc: 0.8414
Epoch 41/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3758 - acc: 0.8440
Epoch 42/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.3732 - acc: 0.8450
Epoch 43/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3711 - acc: 0.8459
Epoch 44/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3691 - acc: 0.8463
Epoch 45/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.3672 - acc: 0.8483
Epoch 46/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3656 - acc: 0.8471
Epoch 47/100
7000/7000 [==============================] - 1s 165us/sample - loss: 0.3640 - acc: 0.8490
Epoch 48/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.3626 - acc: 0.8491
Epoch 49/100
7000/7000 [==============================] - 1s 166us/sample - loss: 0.3614 - acc: 0.8509
Epoch 50/100
7000/7000 [==============================] - 1s 165us/sample - loss: 0.3602 - acc: 0.8503
Epoch 51/100
7000/7000 [==============================] - 1s 165us/sample - loss: 0.3592 - acc: 0.8524
Epoch 52/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3582 - acc: 0.8530
Epoch 53/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.3573 - acc: 0.8530
Epoch 54/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.3565 - acc: 0.8524
Epoch 55/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3556 - acc: 0.8543
Epoch 56/100
7000/7000 [==============================] - 1s 165us/sample - loss: 0.3551 - acc: 0.8547
Epoch 57/100
7000/7000 [==============================] - 1s 160us/sample - loss: 0.3543 - acc: 0.8546
Epoch 58/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3538 - acc: 0.8549
Epoch 59/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.3531 - acc: 0.8547
Epoch 60/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.3526 - acc: 0.8550
Epoch 61/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3521 - acc: 0.8567
Epoch 62/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3517 - acc: 0.8557
Epoch 63/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3512 - acc: 0.8559
Epoch 64/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.3507 - acc: 0.8569
Epoch 65/100
7000/7000 [==============================] - 1s 160us/sample - loss: 0.3503 - acc: 0.8554
Epoch 66/100
7000/7000 [==============================] - 1s 168us/sample - loss: 0.3499 - acc: 0.8577
Epoch 67/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3495 - acc: 0.8561
Epoch 68/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.3490 - acc: 0.8574
Epoch 69/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.3489 - acc: 0.8557
Epoch 70/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3485 - acc: 0.8570
Epoch 71/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3482 - acc: 0.8567
Epoch 72/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.3479 - acc: 0.8563
Epoch 73/100
7000/7000 [==============================] - 1s 160us/sample - loss: 0.3477 - acc: 0.8576
Epoch 74/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3474 - acc: 0.8569
Epoch 75/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3472 - acc: 0.8560
Epoch 76/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.3468 - acc: 0.8576
Epoch 77/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3466 - acc: 0.8574
Epoch 78/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.3462 - acc: 0.8579
Epoch 79/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3462 - acc: 0.8576
Epoch 80/100
7000/7000 [==============================] - 1s 163us/sample - loss: 0.3459 - acc: 0.8581
Epoch 81/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3456 - acc: 0.8584
Epoch 82/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.3453 - acc: 0.8574
Epoch 83/100
7000/7000 [==============================] - 1s 160us/sample - loss: 0.3451 - acc: 0.8589
Epoch 84/100
7000/7000 [==============================] - 1s 165us/sample - loss: 0.3451 - acc: 0.8591
Epoch 85/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3446 - acc: 0.8593
Epoch 86/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.3445 - acc: 0.8561
Epoch 87/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3442 - acc: 0.8589
Epoch 88/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.3439 - acc: 0.8596
Epoch 89/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3435 - acc: 0.8603
Epoch 90/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3433 - acc: 0.8594
Epoch 91/100
7000/7000 [==============================] - 1s 160us/sample - loss: 0.3431 - acc: 0.8587
Epoch 92/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3429 - acc: 0.8590
Epoch 93/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3426 - acc: 0.8597
Epoch 94/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3424 - acc: 0.8589
Epoch 95/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3422 - acc: 0.8584
Epoch 96/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3418 - acc: 0.8601
Epoch 97/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.3416 - acc: 0.8591
Epoch 98/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3413 - acc: 0.8606
Epoch 99/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3409 - acc: 0.8609
Epoch 100/100
7000/7000 [==============================] - 1s 162us/sample - loss: 0.3407 - acc: 0.8617

In [249]:
scores = model.evaluate( X_test_std, y_test)

print('\ n loss:', scores[ 0]) 

print('\ n accuracy:', scores[ 1])

3000/3000 [==============================] - 0s 138us/sample - loss: 0.3579 - acc: 0.8500
\ n loss: 0.3579198699792226
\ n accuracy: 0.85

Updating the model to improve the accuracy.

### Predict the results using 0.5 as a threshold (5 points)

In [0]:
#y_pred = model.predict_proba(X_test)
y_pred=model.predict(X_test_std)
y_pred =(y_pred>0.5) #threshold is 0.5
#y_pred = (model.predict_proba(X_test_std)[:,0] >= 0.5)#  threshold is 0.5

### Print the Accuracy score and confusion matrix (2.5 points)

In [256]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[2265  124]
 [ 326  285]]
              precision    recall  f1-score   support

           0       0.87      0.95      0.91      2389
           1       0.70      0.47      0.56       611

    accuracy                           0.85      3000
   macro avg       0.79      0.71      0.73      3000
weighted avg       0.84      0.85      0.84      3000

Above classifier helps to determine whether customer will leave or not using Neural networks, using smote due to presence of imbalance in the data, which did not provide much accuracy.

Stratify attribute is used to manage the imbalance distribution in spliting the data.

Adding learning rate and the epoch to 100, helps to increase the accuracy score.

Learning rate plays a important role, and epoch to learn from mistake helps a lot.