In [26]:
from google.colab import drive
drive.mount('gdrive')

Drive already mounted at gdrive; to attempt to forcibly remount, call drive.mount("gdrive", force_remount=True).

In [0]:
import tensorflow as tf

In [0]:
import pandas as pd

In [29]:
data = pd.read_csv('gdrive/My Drive/Colab Notebooks/AIML/R6/Projects/Project1/bank.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [30]:
tempDf = data.groupby(by='Exited', as_index=False).agg({'CustomerId': pd.Series.nunique})
tempDf[tempDf['CustomerId'] > 1]

   Exited  CustomerId
0       0        7963
1       1        2037

There is imbalance in the data.

In [6]:
tempDf = data.groupby(by='Surname', as_index=False).agg({'CustomerId': pd.Series.nunique})
tempDf[tempDf['CustomerId'] > 1]

                  Surname  CustomerId
0                   Abazu           2
2                  Abbott           4
4                 Abdulov           2
6               Abernathy           2
8                Abramova           2
9              Abramovich           5
10             Abramowitz           2
13                 Achebe           3
14                  Adams          10
15                Adamson           2
16              Afamefula           2
17              Afamefuna           2
19             Afanasyeva           2
20              Agafonova           2
24                  Ahmed           4
28                 Aitken           8
29            Ajuluchukwu           5
30               Akabueze           8
32                 Akhtar           5
33               Akobundu           7
35                Aksenov           7
37               Aksyonov           2
38              Aksyonova           2
39               Akubundu           2
45           Aleksandrova           3
46              Alekseeva           4
47             Alekseyeva           3
49              Alexander          13
51            Alexandrova           3
52               Alexeeva           6
...                   ...         ...
2880                  Yen          14
2881             Yermakov           3
2882            Yermakova           4
2883           Yermolayev           2
2885          Yevdokimova           2
2886             Yevseyev           3
2888                  Yin          11
2891              Yobachi           5
2892           Yobachukwu           5
2893              Yobanna           7
2897                Young          20
2899                   Yu          10
2900                 Yuan          13
2901                Yudin           4
2902               Yudina           4
2904               Yuriev           3
2905              Yuryeva           4
2907             Yusupova           3
2910             Zakharov           4
2912             Zaytseva           3
2913             Zetticci          11
2914              Zhdanov           2
2915             Zhdanova           4
2916               Zhirov           3
2918     Zikoranachidimma           6
2919  Zikoranachukwudimma           2
2923                 Zito           6
2927              Zubarev           3
2930                Zuyev           2
2931               Zuyeva           2

[1374 rows x 2 columns]

In [7]:
tempDf = data.groupby(by='Geography', as_index=False).agg({'CustomerId': pd.Series.nunique})
tempDf[tempDf['CustomerId'] > 1]

  Geography  CustomerId
0    France        5014
1   Germany        2509
2     Spain        2477

In [8]:
tempDf = data.groupby(by='RowNumber', as_index=False).agg({'CustomerId': pd.Series.nunique}) 
tempDf[tempDf['CustomerId'] > 1]

Empty DataFrame
Columns: [RowNumber, CustomerId]
Index: []

In [9]:
tempDf = data.groupby(by='EstimatedSalary', as_index=False).agg({'CustomerId': pd.Series.nunique}) 
tempDf[tempDf['CustomerId'] > 1]

      EstimatedSalary  CustomerId
1211         24924.92           2

In [10]:
tempDf = data.groupby(by='Balance', as_index=False).agg({'CustomerId': pd.Series.nunique}) 
tempDf[tempDf['CustomerId'] > 1]

        Balance  CustomerId
0          0.00        3617
1995  105473.74           2
4115  130170.82           2

In [0]:
df = data

In [0]:
#data.drop(['CustomerId', 'RowNumber', 'EstimatedSalary'], axis=1, inplace = True) # dropping EstimatedSalary also gives same accurancy so this is not deleted.
data.drop(['CustomerId', 'RowNumber'], axis=1, inplace = True)

In [13]:
data.head()

    Surname  CreditScore Geography  ... IsActiveMember  EstimatedSalary  Exited
0  Hargrave          619    France  ...              1        101348.88       1
1      Hill          608     Spain  ...              1        112542.58       0
2      Onio          502    France  ...              0        113931.57       1
3      Boni          699    France  ...              0         93826.63       0
4  Mitchell          850     Spain  ...              1         79084.10       0

[5 rows x 12 columns]

In [0]:
data = pd.get_dummies(data)  # Using get dummies also gives same accuracy score.
#data['Surname'] = pd.Categorical(data['Surname']).codes

In [0]:
#data['Geography'] = pd.Categorical(data['Geography']).codes
#data['Gender'] = pd.Categorical(data['Gender']).codes

In [39]:
data.head()

   RowNumber  CustomerId  ...  Gender_Female  Gender_Male
0          1    15634602  ...              1            0
1          2    15647311  ...              1            0
2          3    15619304  ...              1            0
3          4    15701354  ...              1            0
4          5    15737888  ...              1            0

[5 rows x 2948 columns]

In [0]:
X = data.drop('Exited', axis=1)
Y = data[['Exited']]

In [41]:

from sklearn.model_selection import train_test_split
X_train,  X_test, y_train, y_test = train_test_split(X, Y, test_size=.3, random_state=98989)
print("X_Train : {}, X_test : {}, y_train : {}, y_test : {}".format(X_train.shape,  X_test.shape, y_train.shape, y_test.shape))

X_Train : (7000, 2947), X_test : (3000, 2947), y_train : (7000, 1), y_test : (3000, 1)

In [0]:


from sklearn.preprocessing import Normalizer
normalizer = Normalizer()
X_train_std = normalizer.fit_transform(X_train)
X_test_std = normalizer.fit_transform(X_test)

In [0]:

from tensorflow import keras 
from keras.models import Sequential
from keras.layers import Dense,Dropout
from keras.optimizers import SGD

In [49]:
n_inputs = 2947
model = keras.Sequential([
    keras.layers.Dense(128, activation=tf.nn.sigmoid, input_shape=(n_inputs,)),
    keras.layers.Dense(128, activation=tf.nn.tanh),
    keras.layers.Dense(128, activation=tf.nn.relu),
    keras.layers.Dense(128, activation=tf.nn.sigmoid),
    keras.layers.Dense(2, activation=tf.nn.softmax)
])


model.summary() 
# compile the model 
model.compile( loss ='sparse_categorical_crossentropy', optimizer = 'adam', metrics =['accuracy']) 

# train the model 
model.fit( X_train_std, y_train, batch_size = 90,
          epochs = 10)

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_26 (Dense)             (None, 128)               377344
_________________________________________________________________
dense_27 (Dense)             (None, 128)               16512
_________________________________________________________________
dense_28 (Dense)             (None, 128)               16512
_________________________________________________________________
dense_29 (Dense)             (None, 128)               16512
_________________________________________________________________
dense_30 (Dense)             (None, 2)                 258
=================================================================
Total params: 427,138
Trainable params: 427,138
Non-trainable params: 0
_________________________________________________________________
Epoch 1/10
7000/7000 [==============================] - 2s 237us/sample - loss: 0.5094 - acc: 0.7964
Epoch 2/10
7000/7000 [==============================] - 2s 222us/sample - loss: 0.5081 - acc: 0.7964
Epoch 3/10
7000/7000 [==============================] - 2s 231us/sample - loss: 0.5069 - acc: 0.7964
Epoch 4/10
7000/7000 [==============================] - 2s 225us/sample - loss: 0.5063 - acc: 0.7964
Epoch 5/10
7000/7000 [==============================] - 2s 221us/sample - loss: 0.5062 - acc: 0.7964
Epoch 6/10
7000/7000 [==============================] - 2s 228us/sample - loss: 0.5060 - acc: 0.7964
Epoch 7/10
7000/7000 [==============================] - 2s 222us/sample - loss: 0.5060 - acc: 0.7964
Epoch 8/10
7000/7000 [==============================] - 2s 224us/sample - loss: 0.5065 - acc: 0.7964
Epoch 9/10
7000/7000 [==============================] - 2s 223us/sample - loss: 0.5072 - acc: 0.7964
Epoch 10/10
7000/7000 [==============================] - 2s 225us/sample - loss: 0.5073 - acc: 0.7964

In [50]:
scores = model.evaluate( X_test_std, y_test)

print('\ n loss:', scores[ 0]) 

print('\ n accuracy:', scores[ 1])

3000/3000 [==============================] - 0s 125us/sample - loss: 0.5063 - acc: 0.7960
\ n loss: 0.5063056081136068
\ n accuracy: 0.796

In [51]:
y_pred = model.predict_classes(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [52]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred))

[[2388    0]
 [ 612    0]]

Above classifier helps to determine whether customer will leave or not using Neural networks, with default threshold value of 0.5. Both Get_dummies and Categorical codes gives same percentage of the accuracy, irrespective the change. After adding relu, sigmoid also, the accuracy doesnt change.